In [1]:
import pandas

In [30]:
food_info = pandas.read_csv('food_info.csv')
food_info.head(2)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0

In [31]:
#基本数学运算  加减乘除
Vit_E = food_info['Vit_E_(mg)']
div_1000 = Vit_E / 1000

print div_1000.head(4)
print food_info.shape

0    0.00232
1    0.00232
2    0.00280
3    0.00025
Name: Vit_E_(mg), dtype: float64
(8618, 36)

In [32]:
#对应相乘得到新的一列数据
print food_info.shape
#相乘需要保证其具有相同的维度
water_energy = food_info['Water_(g)'] * food_info['Energ_Kcal']

#以'water_energy'作为属性名称添加新的一列数据
food_info['water_energy'] = water_energy
print food_info.shape

list = ['Water_(g)', 'Energ_Kcal', 'water_energy' ]
food_info[list].head(2)

(8618, 36)
(8618, 37)

   Water_(g)  Energ_Kcal  water_energy
0      15.87         717      11378.79
1      15.87         717      11378.79

In [34]:
#最值
max = food_info['water_energy'].max()

#归一化操作
normalize = food_info['water_energy'] / max
food_info['normalize_waterenergy'] = normalize

list = ['water_energy', 'normalize_waterenergy']
food_info[list].head(3)

   water_energy  normalize_waterenergy
0      11378.79               0.527852
1      11378.79               0.527852
2        210.24               0.009753

In [37]:
#排序操作  inplace替代原来列
# sort = food_info.sort_values('water_energy', inplace = True)
# #Nan为缺失值  排序放到最后  默认为从小到大排序
# food_info['water_energy']

#ascending 升序设为False  即为从大到小排序
sort = food_info.sort_values('water_energy', inplace = True, ascending = False)
food_info['water_energy'].head(5)

710    21556.80
709    21428.90
645    21282.60
727    21055.84
797    20786.38
Name: water_energy, dtype: float64